@charset "utf-8";

@font-face {
    font-family: font1;
    src: url(Skate.ttf);
}

@font-face {
    font-family: font2;
    src: url(INFECTED.ttf);
}
.main-header h1{
font-family: font1;
text-decoration: underline;
font-size: 45px;
color: #000000;
text-shadow: 4px 4px 10px #ffffff;
margin: 3px;
}

.main-header{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    text-shadow: 4px 4px 4px black;
}


body{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 44%, rgba(49,193,44,1) 70%);
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 2px;
    color: #a06a28;
    
}


.cell{
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    cursor: pointer;
    font-family: sans-serif;
    text-align: center;
    background-color: #0000008a;
    border-radius: 8px;
    font-family: font2;
}

.container{
display: flex;
justify-content: center;
}


.wins,.loss,.draw, span{
    display: inline-flex;
    color: #000000;
    width: 19%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    font-size: 23px;
    font-family: sans-serif;
}
.loss{
    font-family: sans-serif;
    color: #000000;
    font-size: 23px;
}
.wins{
    font-family: sans-serif;
    font-size: 23px;
    color: #000000; 
}



